html{
  /*background-color: #3c4142;*/
  background: rgba(37,44,49,1);
  background: -moz-linear-gradient(top, rgba(37,44,49,1) 0%, rgba(81,97,107,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(37,44,49,1)), color-stop(100%, rgba(81,97,107,1)));
  background: -webkit-linear-gradient(top, rgba(37,44,49,1) 0%, rgba(81,97,107,1) 100%);
  background: -o-linear-gradient(top, rgba(37,44,49,1) 0%, rgba(81,97,107,1) 100%);
  background: -ms-linear-gradient(top, rgba(37,44,49,1) 0%, rgba(81,97,107,1) 100%);
  background: linear-gradient(to bottom, rgba(37,44,49,1) 0%, rgba(81,97,107,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252c31', endColorstr='#51616b', GradientType=0 );
  background-size: cover;
  /*position: relative;*/
  background-repeat: repeat;
  background-position:center;
  overflow: hidden;
}

/*.gray-gradient-pattern {
  background: rgba(37,44,49,1);
  background: -moz-linear-gradient(top, rgba(37,44,49,1) 0%, rgba(81,97,107,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(37,44,49,1)), color-stop(100%, rgba(81,97,107,1)));
  background: -webkit-linear-gradient(top, rgba(37,44,49,1) 0%, rgba(81,97,107,1) 100%);
  background: -o-linear-gradient(top, rgba(37,44,49,1) 0%, rgba(81,97,107,1) 100%);
  background: -ms-linear-gradient(top, rgba(37,44,49,1) 0%, rgba(81,97,107,1) 100%);
  background: linear-gradient(to bottom, rgba(37,44,49,1) 0%, rgba(81,97,107,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252c31', endColorstr='#51616b', GradientType=0 );
  background-size: cover;
  position: relative;
  background-repeat:no-repeat;
  background-position:center;
  overflow: hidden;
}*/

h1{
  color: #fff;
  text-align: center;
  margin-top: 10%;
  font-size: 50px;
}

.profile-photo{
  display: block;
  max-width: 120px;
  border-radius: 100%;
  border-style: solid;
  border-color: #fff;
  margin: 0 auto 30px;
  }

  /*.profile-photo:hover{
    background-image: url(img/Yoda.png);
    display: block;
    max-width: 120px;
    border-radius: 100%;
    border-style: solid;
    border-color: #fff;
    margin: 0 auto 30px;

  }*/

.social{
  list-style: none;
  margin-right: auto;
  margin-left: auto;
  width: 20em;
}

a{
  color: #fff;
}

a:hover{
  color: #0066FF;
}

li{
  display: inline;
  padding: 10px;
}