html{
  background-color: #3c4142;
}

h1{
  color: #fff;
  text-align: center;
  margin-top: 10%;
  font-size: 50px;
}

.profile-photo{
  display: block;
  max-width: 120px;
  border-radius: 100%;
  border-style: solid;
  border-color: #fff;
  margin: 0 auto 30px;
  }

  /*.profile-photo:hover{
    background-image: url(img/Yoda.png);
    display: block;
    max-width: 120px;
    border-radius: 100%;
    border-style: solid;
    border-color: #fff;
    margin: 0 auto 30px;

  }*/

.social{
  list-style: none;
  margin-right: auto;
  margin-left: auto;
  width: 20em;
}

a{
  color: #fff;
}

a:hover{
  color: #0066FF;
}

li{
  display: inline;
  padding: 10px;
}