@font-face{
  font-family: minecraftia;
  src: url(fonts/Minecraftia-Regular.ttf);
}

html { 
  background-image: url(img/classic_mac.jpg); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  position: relative;
}

h1 {
  text-align: center;
  color: #00E800;
  margin-top: 80px;
  font-family: minecraftia;
  font-size: 25px;
}

.container {
  width: 50%;
  position: relative;
  top: 150px;
  /*background-color: #fff*/
}

.site-footer{
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center; 
  margin: 0% auto -13.5em;
  margin-left: 25%;
}

ul{
  list-style: none;
  position: absolute;
  left: 50px;
  bottom: 1px;
}

li{
  display: inline;
  margin: 5px;
  
}

a{
  color: #00E800;
}

a:hover{
  color: #0066FF;
}

.mailbox{
  position: absolute;
  margin-top: -60px;
  margin-left: 80%;
}

#github{
  position: absolute;
  margin-left: 81%;
  margin-top: 260px; 
}

#linkedin{
  position: absolute;
  margin-left: 13%;
  margin-top: 260px;
}

#twitter{
  position: absolute;
  margin-left: 13%;
  margin-top: -60px;
}

.profile-photo{
  position: absolute;
  display: block;
  max-width: 100px;
  margin-left: 45%;
  margin-top: 230px;
  border-radius: 100%;
}


